// FONTS
@mixin font-serif-regular {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-serif-semi {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

@mixin font-sans-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin font-sans-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-sans-semi {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}