// BANNERS
.banner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: inherit;
  min-height: calc(100vh - 2rem);
  overflow: hidden;
  margin: 0;
  padding: 2rem;
  color: white;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    -webkit-backdrop-filter: saturate(180%);
    backdrop-filter: saturate(180%);
  }
  .logo {
    display: grid;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    svg {
      max-width: 20rem;
      margin: 0 auto;
      fill: white;
    }
  }
  .scroll {display: none;}
  h1, h2, h3, h4, h5, p {position: relative;}
}

@media (min-width: 48rem) {
  .banner {
    .scroll {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 2rem;
      div {
        width: 1px;
        height: calc(100vh / 3);
        margin: 0 auto;
        padding: 0;
        background: white;
        opacity: 0.5;
        @include transform(translateY(-1.5rem));
      }
      p {
        margin: 0 auto;
        padding: 0;
        font-size: 0.8rem;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        transform-origin: 50% 50%;
        @include transform(rotate(90deg));
        a {
          text-decoration: none;
          color: white;
          @include transition(all, 0.325s, ease);
          &:hover, &:focus {color: gray;}
        }
      }
    }
  }
}


// PROJECTS
.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  margin: 0;
  .project {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 1rem 0 0;
    padding: 0;
    a {
      display: grid;
      position: absolute;
      width: 100%;
      height: 100%;
      text-decoration: none;
      .preview {
        img {
          display: grid;
          position: absolute;
          top: 0;
          width: auto;
          height: 100%;
          @include transition(all, 4.5s, ease);
          @include transform(scale(1));
        }
        .overlay {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.5);
          background: linear-gradient(transparent 60%, black 100%);
          opacity: 0.9;
          -webkit-backdrop-filter: saturate(180%);
          backdrop-filter: saturate(180%);
        }
        p {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 1rem;
          max-width: none;
          margin: 0;
          @include font-serif-regular;
          font-size: 1.953rem;
          line-height: 1.1;
          text-decoration: none;
          color: white;
          span {
            position: absolute;
            padding: 0 0 0 0.5rem;
            @include transition(all, 0.5s, ease);
            @include transform(translateY(5rem));
            svg {fill: white;}
          }
        }
      }
    }
    a:hover, a:focus {
      .preview {
        img {@include transform(scale(1.25));}
        p span {@include transform(translateY(0.25rem));}
      }
    }
    &:before {
      display: block;
      padding-top: 100%;
      content: "";
    }
  }
}

@media (min-width: 35rem) {
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .project {width: calc(50% - 0.5rem);}
  }
}

@media (min-width: 50rem) {
  .projects {
    .project {width: calc(33% - 0.5rem);}
  }
}


/* PROJECT GRID */
.project-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  margin: 0;
  img {
    display: grid;
    width: 100%;
    overflow: hidden;
    margin: 1rem 0 0;
  }
}

@media (min-width: 35rem) {
  .project-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      width: calc(50% - 0.5rem);
      height: 100%;
    }
    img.lg {width: 100%;}
  }
}